/* Allgemeine Stile */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    padding-top: 180px;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; 
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Stellt sicher, dass die Navbar über anderen Elementen liegt */
}


.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-logo {
    width: 100px; /* Logo-Breite anpassen */
    height: auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-left: 25px;
    margin-top: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: #0078D6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 80px;
}

.btn:hover {
    background-color: #008DFC;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #9f9f9f;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
